<div class="flex flex-col text-center p-4">
  <h1 class="text-darkgreen pt-40">Welcome, Healthcare Professional</h1>
  <p>Join our esteemed medical community and help shape the future of healthcare with us. We're excited to have you on board!</p>
  <img src="src\assets\images\practitioner-signup-image.png">
  <div class="text-center pt-14">
    <button 
      mat-flat-button 
      type="submit"
      color="primary" 
      class="w-11/12 !h-12 !text-base !bg-ligthergreen !text-black"
      >
      Next
    </button>
  </div>
</div>

