<app-header></app-header>

@for(data of notificationData; track data.id){
<!-- post -->
<mat-card class="!bg-white mx-5 my-3 !shadow-none" (click)="itemClick(data.post_ID)">
  <mat-card-content class="!flex h-12">
    <div>
      <img [src]="image">
    </div>
    <div class="text-xs content !flex !flex-col">
      <div class="">
        <strong>{{data.name}}</strong> {{data.action}} your {{data.post_type}}. 
        <p class="date">{{ date | date:'EEE h:mm a' }}</p>
      </div>
      <!-- placeholder for post type icons -->
      <mat-icon>more_horiz</mat-icon> 
    </div>
    <button mat-icon-button aria-label="more-icon">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
}