.content {
  flex-grow: 1 !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.date {
  color: gray !important;
}

mat-card {
  height: 82px !important;
  margin-top: 12px !important;
}

mat-card-content {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}