.example-spacer {
    flex: 1 1 auto;
  }
.header-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.toolbar-container {
    background-color: #f1f1f1;

    .header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .search-icon-container, .notification-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -15px;
        }

        .avatar-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-icon, .bell-icon, .avatar-icon {
            color: gray;
        }

        .avatar-icon {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-image: url('/assets/images/no-avatar.png');
            background-size: cover;
            background-position: center;
            border: none;
        }
    }
}

.toolbar-text {
    color: #018A50;
    font-family: proxima-bold;
    font-weight: bold;
    margin-left: 5px;
}

.mat-badge-warn {
    --mat-badge-background-color: #018A50;
}

