<div class="header-container">
    <mat-toolbar class="toolbar-container flex justify-center items-center">
        <div class="header-text">
            <span class="toolbar-text">MediVerse</span>
        </div>
        <span class="example-spacer"></span>
        <div class="header-buttons">
            <div class="search-icon-container">
                <button mat-icon-button class="search-icon" aria-label="search-icon">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="notification-icon-container">
                <button mat-icon-button class="bell-icon" aria-label="notif-icon">
                    <mat-icon matBadge="{{notificationCount}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
                </button>
            </div>
            <div class="avatar-container">
                <button mat-icon-button class="avatar-icon" aria-label="avatar-icon">
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>
