<div class="landing-community-container">
    <div class="lc-content1">
        <div class="lc-c1-text1">
            <h2>community echo:</h2>
        </div>
        <div class="lc-c1-text2">
            <h2>your words,</h2>
        </div>
        <div class="lc-c1-text3">
            <h2>our inspiration</h2>
        </div>
    </div>
    <div class="lc-content2">
        <div class="grid-container">
            <div class="item1">
                <mat-card class="lc-item1">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/images/dr1png.png" alt="profile image">
                        </div>
                        <div class="avatar-details">
                            <p class="username">Dr. Zhang Hao</p>
                            <p class="usertag">Physician <span>•</span> January 11, 2024</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>"As a healthcare professional, integrating this medical-centric social media platform into my practice has been transformative. It enables me to extend my expertise beyond the confines of traditional consultations, providing timely advice and support to patients wherever they are."</p>
                    </div>
                </mat-card>
            </div>
            <div class="item2">
                <mat-card class="lc-item2">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/images/marc.png" alt="profile image">
                        </div>
                        <div class="avatar-details">
                            <p class="username">Marc Justine</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>"Discovering this medical-focused social media platform has been a breath of fresh air. As a user, I feel empowered knowing that I can access trustworthy medical advice and connect with qualified professionals and fellow patients in a secure environment. The personalized feed feature ensures that I stay informed about topics relevant to my health journey, while the seamless interface makes navigation effortless. It's truly revolutionizing the way I approach healthcare."</p>
                    </div>
                </mat-card>
            </div>
            <div class="item3">

            </div>  
            <div class="item4">

            </div>
        </div>
    </div>
</div>
