.header-content {
    display: flex;
    align-items: center;
  }
  
  .card-image {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust margin as needed */
  }