<mat-card class="m-5 !bg-light max-w-xl">
  <!-- Title Card -->
  <mat-card-header>
    <div class="header-content">
      <img [src]="data.profile_image || imageUrl" class="card-image rounded-full" alt="Card Image" />
      <div>
        <mat-card-title class="card-title">
          @if(data.account_type === "practitioner"){
            <strong>Dr. {{ data.first_name }}</strong>
          }
          @else{
            <strong>{{ data.first_name }}</strong>
          }
        </mat-card-title>
        <mat-card-subtitle class="card-subtitle !text-black">
          {{data.specialty || "physician"}}
        </mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>

  <!-- Content of the Post Card -->
  <mat-card-content class="mt-4 mb-5">
    <p>{{ data.content }}</p>
  </mat-card-content>

  <!-- Like, Comment, Share, button -->
  <mat-card-actions>
    <app-reaction-button [data]="data"></app-reaction-button>
  </mat-card-actions>
</mat-card>
