<div class="landing-tools-container">
    <div class="page-title">
        <h2>Explore Our Standout Tools</h2>
    </div>
    <div class="page-content">
        <div class="button-group">
            <button mat-button class="btn1">Forum</button>
            <button mat-button class="btn2">Tips</button>
            <button mat-button class="btn3">Inquiry</button>
        </div>
        <div class="main-content">
            <div class="main-content-text">
                <p>Engage in vibrant discussions, exchange insights, and collaborate with fellow practitioners on the MediVerse Forum.</p>
            </div>
        </div>
    </div>
</div>
