<div class="landing-footer-container">
    <div class="branding-container">
        <div class="branding-text">
            <span>&#169; Mediverse 2024</span>
        </div>
    </div>
    <div class="links-container">
        <div class="privacy-policy-container">
            <div class="pp-text">
                <span>Privacy Policy</span>
            </div>
        </div>
        <div class="divider-container">
            <div class="divider">
                <span>|</span>
            </div>
        </div>
        <div class="tc-container">
            <div class="tc-text">
                <span>Terms & Conditions</span>
            </div>  
        </div>
    </div>
</div>
