<app-header />

<div>
    <div class="create-post-button p-2.5 flex justify-end">
        <button mat-fab extended aria-label="post_add-icon" class="post_add-icon mr-3">
          <mat-icon>post_add</mat-icon>
          <span class="post-text">Post</span>
        </button>
    </div>
    <div class="create-post-section m-5 mt-2 rounded-none ">
        <mat-card class="main-card !bg-white">
            <mat-card-header class="card-header">
                <div mat-card-avatar class="header-img">
                    <img [src]="sampleImage" alt="Profile Image">
                </div>
                <div class="card-header-titles ml-2 ">
                    <mat-card-title class="header-title">{{structuredData.name}}</mat-card-title>
                    <mat-card-subtitle class="header-subtitle !text-black ">
                        <div class="flex">
                            <div class="button-container !flex !justify-center !items-center">
                                <button mat-fab aria-label="post_type-button" class="post_type-button !shadow-none mr-3">
                                    <mat-icon class="button-img">public</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-subtitle>
                </div>
                <div class="more-button">
                    <button mat-icon-button aria-label="more-icon" class="more-button mr-3">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                </div>
            </mat-card-header>
        </mat-card>
    </div>
</div>
