.toolbar-container {

    mat-toolbar {
        background-color: #FBFAFA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .title-container {

            .title {
                font-family: proxima-bold;
                font-size: 25px;
                color: #018A50;

            }

        }

        .menu-container {

            .menu-icon {
                color: black;
            }

            
        }

    }

}

html {
    --mat-menu-container-color: #FBFAFA !important;
    --mat-menu-item-label-text-font: proxima !important;
    --mat-menu-item-label-text-color: #018A50 !important;
}