.landing-header-container {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.toolbar-container {

    mat-toolbar {
        background-color: #FBFAFA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .title-container {

            .title {
                font-family: proxima-bold;
                font-size: 25px;
                color: #018A50;

            }

        }

        .signup-menu-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .signup-container {

                .signup-button {
                    border: #018A50 1.5px solid;
                    background-color: #D6F5DB;
                    color: #018A50;
                    height: 25px;
                    width: 75px;
                    font-size: 10px;
                    font-family: proxima-bold;
                }
            }

            .menu-container {

                .menu-icon {
                    color: black;

                }

            }

        }

    }

}

html {
    --mat-menu-container-color: #FBFAFA !important;
    --mat-menu-item-label-text-font: proxima !important;
    --mat-menu-item-label-text-color: rgb(0, 100, 60) !important;
}