<div class="landing-goals-container">
    <div class="text-container">
        <div class="header-container">
            <p><span class="title">MediVerse</span> connects practitioners and patients, fostering collaboration and knowledge-sharing in a dynamic digital space.</p>
        </div>
        <div class="subheader-container">
            <p>MediVerse facilitates discussions, tips sharing, and inquiries between practitioners and users, promoting informed healthcare decisions and community support</p>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="assets/images/handshake.svg" alt="shaking-hands-vector-image">
        </div>
    </div>
</div>
