.landing-goals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px 30px;
    height: auto;

    .header-container {

        p {
            font-family: proxima-bold;
            color: #232323;
            font-size: 16px;
        }

        .title {
            color: #018A50;
        }
    }

    .subheader-container {
        margin-top: -5px;

        p {
            font-family: proxima;
            font-size: 10px;
        }
    }

}