<app-header />

<div class="profile-title">
    <div class="profile-title-header">
        <app-avatar />
        <div class="desc-container">
            <p class="desc">{{ userProfile.description }}</p>
        </div>
    </div>
    <div class="profile-title-info">
        <div class="column-1">
            <div class="user-name-display">
                <span class="username">{{ userProfile.userName }}</span>
            </div>
            <div class="followers-posts-count-container">
                <div class="followers-display">
                    <span class="followers-count"><span style="font-weight: bold;">{{ userProfile.followerCount }}</span> Followers</span>
                </div>
                <div class="posts-count-display">
                    <span class="posts-count"><span style="font-weight: bold;">{{ userProfile.postCount }}</span> Posts</span>
                </div>
            </div>
            <div class="birthday-display">
                <div class="birthdate">
                    <mat-icon aria-hidden="false" aria-label="cake-icon" fontIcon="cake" class="cake-icon"></mat-icon>
                    <span>{{ userProfile.birthday }}</span>
                </div>
            </div>
        </div>
        <div class="column-2">
            <div class="follow-button">
                <button mat-raised-button class="follow"><span class="follow-button-text">Follow</span></button>
            </div>
        </div>
    </div>
    <div class="nav-tabs">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Posts"></mat-tab>
            <mat-tab label="Inquiry"></mat-tab>
            <mat-tab label="Photos"></mat-tab>
            <mat-tab label="Saved"></mat-tab>
          </mat-tab-group>
    </div>
</div>

