.profile-title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 65px;
    width: 275px;
    background-color: #25FFA2;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0 5px 4px rgba(0, 50, 0, 0.8);
}

.desc {
    font-size: 9px;
    
}