<div class="flex justify-center items-center h-screen">
  <mat-card
    class="!bg-dirtywhite !max-w-3xl !h-fit !shadow-xl p-20 text-center"
  >
    <mat-card-header class="mb-10 custom-header">
      <mat-card-title class="text-darkgreen !text-4xl !mb-2"
        >Welcome to MediVerse</mat-card-title
      >
      <mat-card-subtitle
        class="!text-darkgray !text-xs max-w-sm !mb-10 !mx-auto"
        >Your Health Journey Begins Here! Explore a vibrant community of medical
        professionals and patients, where expertise and compassion converge.
        Join us in shaping a brighter future for healthcare!</mat-card-subtitle
      >
    </mat-card-header>
    <div class="container">
      <h1 class="text-xs !font-thin !mb-7 text-lightergrey">Continue as</h1>
      <button
        mat-button
        class="!bg-light !text-lightgreen2 w-96 !h-12 mb-5"
        routerLink="/feed"
      >
        User
      </button>
      <button
        mat-button
        class="!bg-light !text-lightgreen2 w-96 !h-12 mb-5 custom-buttom"
        routerLink="/feed"
      >
        Physician
      </button>
    </div>
  </mat-card>
</div>
