<h1>Landing page goes here</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<h2 style="font-family: proxima;">Proxima Font Test</h2>
<h2 style="font-family: proxima-bold;">Proxima Bold Font Test</h2>

<div class="w-[500px] border-solid border-red-600 border-4 mx-auto bg-dirtywhite">
    <h1 class="text-white font-extrabold mt-10 text-center bg-red-600 text-lg">ANNOUNCEMENT</h1>
    <p class="px-5">/feed is now a restricted route which means, authentication is required to access</p>
    <p class="px-5">To access, go to /login and enter the credentials below</p>
    <p class="px-5"><u>Email: dr.quakak&#64;mediverse.com</u></p>
    <p class="px-5"><u>Password: quakipish</u></p>
</div>

