<div>
    <mat-toolbar class="nav-container flex justify-center items-center">
            <button mat-icon-button class="search-icon" aria-label="search-icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-stroked-button disabled class="!text-gray-400 !font-bold !text-xs">For You</button>
            <button mat-button class="!text-slate-950 !font-bold !text-xs">Public</button>
            <button mat-button class="!text-slate-950 !font-bold !text-xs">Tips</button>
            <button mat-button class="!text-slate-950 !font-bold !text-xs">Forum</button>
            <button mat-icon-button class="notif-icon" aria-label="notif-icon">
                <mat-icon>notifications</mat-icon>
            </button>
    </mat-toolbar>
</div>
