.avatar-container {
    position: relative;
    width: fit-content;
}

.image-container {
    height: 100px;
    width: 375px;
    z-index: 1;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}

.avatar-container:hover .icon-wrapper {
    background-color: darken(#2962FF, 15%);
}

.icon-wrapper {
    position: absolute;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    margin-top: -10px;
    padding: .35rem;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;
}

.icon {
    color: white;
    font-size: 10px;
}

input[type='file'] {
    display: none;
}
