<div class="landing-solutions-container">
    <div class="challenge-container">
        <div class="header-container">
            <div class="image-container">
                <div class="image">
                    <img src="assets/images/ghost.svg" alt="ghost vector">
                </div>
            </div>
            <div class="header-text-container">
                <div class="header-text">
                    <p>Challenge</p>
                </div>
            </div>
            <div class="challenge-text-container">
                <div class="challenge-text">
                    <p>Addressing Health Illiteracy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="solution-container">
        <div class="header-container">
            <div class="image-container">
                <div class="image">
                    <img src="assets/images/path.svg" alt="path vector">
                </div>
            </div>
            <div class="header-text-container">
                <div class="header-text">
                    <p>Solution</p>
                </div>
            </div>
        </div>
        <div class="solution-text-container">
            <div class="solution-text">
                <p>Transforms lives by bridging health literacy gaps, offering expert insights, tips, and reliable information, empowering users and practitioners to make informed healthcare decisions.</p>
            </div>
        </div>
    </div>
</div>
