<div class="landing-start-container">
    <div class="ls-header-container">
        <div class="header">
            <h1>Getting Started</h1>
        </div>
    </div>
    <div class="ls-content-container">
        <div class="step1">
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="user icon" fontIcon="account_circle"></mat-icon>
            </div>
            <div class="step-text">
                <p>Craft Your Personal Profile</p>
            </div>
        </div>
        <div class="step2">
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="gear icon" fontIcon="settings"></mat-icon>
            </div>
            <div class="step-text">
                <p>Customize Your Feed Preferences</p>
            </div>
        </div>
        <div class="step3">
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="search"></mat-icon>
            </div>
            <div class="step-text">
                <p>Explore Your Personalized Feed</p>
            </div>
        </div>
        <div class="step4">
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="share icon" fontIcon="share"></mat-icon>
            </div>
            <div class="step-text">
                <p>Engage and Share Your Content</p>
            </div>
        </div>
    </div>
</div>
