<div class="newComment m-4 max-w-xl">
  <div class="commentContainer">
    <img [src]="imageUrl" class="card-image" alt="Card Image" />

    <mat-form-field class="exampleForm !bg-light">
      <mat-label class="!text-black">Write a comment</mat-label>
      <textarea matInput class="exampleForm !text-black"></textarea>
    </mat-form-field>

    <!-- button -->
    <button class="bg-red-500 !z-10">
      <mat-icon>home</mat-icon>
      Submit
    </button>
  </div>
</div>

<!-- 
dr.quakak@mediverse.com 
quakipish 
-->
